<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>WispMark</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIconFile</key>
    <string>StoreAppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>WispMarkFirestoreSyncEnabled</key>
    <false/>
    <key>WispMarkFirestoreSyncSpaceID</key>
    <string></string>
    <key>WispMarkFirebaseAPIKey</key>
    <string>AIzaSyDSFWZ-rgBJyr3l8HKeZesDKx8KYpso0DU</string>
    <key>WispMarkFirebaseAppID</key>
    <string>1:327928388164:ios:ae575cd6e86e5e04b27a11</string>
    <key>WispMarkFirebaseProjectID</key>
    <string>wispmark-abarenbe-20260305</string>
    <key>WispMarkFirebaseSenderID</key>
    <string>327928388164</string>
    <key>WispMarkFirebaseStorageBucket</key>
    <string>wispmark-abarenbe-20260305.firebasestorage.app</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
